@import 'mixins';
@import 'variables';

#email {
  padding-top: 10px;
}

.section {
  margin: 0 auto;
  padding:4% 0;
  position: relative;

  .title-panel {
    text-align: center;
    padding-bottom: 4%;

    .jumbotron-line {
      border-top: 2px solid;
      border-color: $section-border-color;
      margin-left: auto;
      margin-right: auto;
      float: none;
      width: 280px;
    }
  }
}

.title-text {
  font-size: $large-font-size;
}

.category-title {
  font-size: $medium-font-size;
  font-weight: 700;
  padding-bottom: 1%;
}

.category-text {
  font-size: $small-font-size;
}

.container {
  max-width: 1250px !important;
}

.separator {
  width: 30px;
  height: 3px;
  background: #ccc;
  margin: 30px auto;
}

a:hover {
  text-decoration: none;
}

#home-page-container {  
  width: 100%;
  height: 100vh;
  background-image: url('../images/background.jpg');
  @include addResponsiveBackgroundImage;

  #last-modified-text {
    display: inline-block;
    padding-left: 5px;
    font-size: $small-font-size;
    color: gray;
  }

  #blog-forward-container {
    float: right;
    padding-right: 5px;
    display: flex;
  }

  #header {
    color: $header-color;
    @include locateDivAtCenter;
    #main-header {
      #main-header-text {
        text-align: center;
        font-size: $extra-large-font-size;
        font-weight: 700;
        animation-name: moveLeft;
        animation-duration: 1.25s;
      }
    }

    #header-line {
      margin-left: 7.5%;
      border-top: 2.5px solid $header-color;
      width: 85%;
    }

    #secondary-header {
      text-align: center;
      #secondary-header-text {
        font-size: $large-font-size;
        animation-name: moveRight;
        animation-duration: 1.25s;
      }
    }
  }

  @keyframes moveLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(7px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    80% {
      transform: translateX(-7px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  #links {
    width: 100%;
    position: absolute;
    bottom: 2.5%;
    display: flex;
  }

  ul {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      margin-right: 1.5%;
    }
  }

  .link-container {
    font-size: $ideal-font-size;
    padding: 0 8px;
    line-height: 60px;
    display: inline-block;
    text-transform: uppercase;

    .link, .link:hover {
      font-weight: 400;
      text-decoration: none;
    }
    .link {
      position: relative;
      color: #17962f;
    }
    .link:hover {
      color: #27B02C;
    }

    .link:after {
      content: '';
      position: absolute;
      width: 0; height: 2px;
      margin-top: -10px;
      display: block;
      right: 0;
      background: #27B02C;
      transition: width .0.005s ease;
      -webkit-transition: width .3s ease;
    }
     
    .link:hover:after {
      width: 100%;
      left: 0;
      background: #27B02C;
    }
  }
}

#About {
  background-color: #EEEEEE;

  .container {
    .row {
      #profile-image-panel { .img-fluid { height: 444px; } }

      #summary-panel {
        #social-media-panel {
          a.social {
            margin: 0 1rem;
            transition: transform 250ms;
            display: inline-block;
          }

          a.social:hover {
            transform: translateY(-2px);
          }

          a.twitter {
            color: #49a1eb;
          }

          a.github {
            color: rebeccapurple;
          }

          a.linkedIn {
            color: #4968ad;
          }

          a.medium {
            color: #000;
          }
        }
      }
      #interest-panel {
        .interest-list {
          padding-left: 6%;
        }
      }
    }
  }
}

#Skills {
  #skills-intro-panel {
    padding-bottom: 2%;
  }
  #logos-panel {
    justify-content: center;
    padding-top: 2%;
    display: flex;
    margin: 0 auto;

    a.social {
      margin: 0 4rem;
      transition: transform 250ms;
      display: inline-block;
    }

    a.social:hover {
      transform: translateY(-2px);
    }

    a.github {
      color: black;
    }

    a.js {
      color: #e6c949;
    }

    a.react {
      color: #00b7d6;
    }

    a.vue {
      color: #039958;
    }

    a.java {
      color: darkred;
    }
  }
}

#Education {
  background-color: #EEEEEE;
  .schools-panel {
    text-align:center;
    align-items: center;
    justify-content: center;
    #school {
      max-width: 1250px !important;
      #department {
        color: orangered;
      }

      .category-title {
        padding-bottom: 0px;
      }
      .category-text {
        padding-bottom: 10px;
      }
    }
  }
}

#Projects {
  background-color: #EEEEEE;
  .schools-panel {
    text-align:center;
    align-items: center;
    justify-content: center;
    #school {
      max-width: 1250px !important;
      #department {
        color: orangered;
      }

      .category-title {
        padding-bottom: 0px;
      }
      .category-text {
        padding-bottom: 10px;
      }
    }
  }
}

#Experience {
  .experiences-panel {
    text-align:center;
    align-items: center;
    justify-content: center;
    #company {
      max-width: 1250px !important;
      #position {
        color: orangered;
      }
      #location-panel {
        justify-content: center;
        display: inline-flex;
        margin-bottom: 20px;

        #location {
          margin-top: 7.5px;
          line-height: 32px;
          vertical-align: middle;
          padding-left: 5px;
          padding-top: 3.5%;
          justify-content: center;
        }
      }
      .category-title {
        padding-bottom: 0px;
      }
      .category-text {
        padding-bottom: 10px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .title-text {
    font-size: $medium-font-size;
  }

  .category-title {
    padding-top: 15px;
    text-align: center;
    font-size: $ideal-font-size;
  }

  .category-text {
    font-size: $extra-small-font-size;
  }

  .social {
    padding-bottom: 10px;
  }

  .container {
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: auto;
    grid-auto-flow: row;
  }

  #home-page-container {
    #header {
      top: 28.5%;
      width: 100%;
      #main-header {
        text-align: center;
        margin-bottom: 5%;
        #main-header-text {
          font-size: $large-font-size;
        }
      }
      #header-line {
        width: 85%;
        margin-left: 5%;
      }
      #secondary-header {
        margin-top: 5%;
        #secondary-header-text {
          font-size: $medium-font-size;
        }
      }
    }

    #links {
      text-align: center;
      top: 34%;
      height: initial;
      ul {
        display: grid;
      }
    }
  }

  #About {
    #profile-image-panel {
      text-align: center;
      display: block;
      padding-bottom: 20px;
    }
  }

  #social-media-panel {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title-text {
    font-size: $medium-font-size;
  }

  .category-title {
    text-align: center;
    font-size: $ideal-font-size;
  }

  .category-text {
    font-size: $extra-small-font-size;
  }

  #home-page-container {
    #header {
      #main-header {
        #main-header-text {
          font-size: $large-font-size;
        }
      }
      #secondary-header {
        #secondary-header-text {
          font-size: $medium-font-size;
        }
      }
    }
  }
}






