$extra-large-font-size: 48px;
$large-font-size: 36px;
$medium-font-size: 28px;
$ideal-font-size: 22px;
$small-font-size: 18px;
$extra-small-font-size: 15px;

$header-color: #ededee;
$about-line-color: #882643;
$skills-line-color: #9f4c5f;
$education-line-color: #b46f7c;
$courses-line-color: #c8929b;
$experience-line-color: #dbb6bc;