
@import '../../../../styles/sass/variables.scss';

#About {
  .title-panel {
    .title-text {
      line-height: 15.1px !important;
    }
  }
  .inner {
    display: flex;
    .summary-panel {
      width: 520px;
  
      .paragraph-list {
        .bold-text {
          color: $navbar-link-hover-color;
          font-weight: 400;
        }
      }
      
      .skills-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(140px, 200px));
        margin: 20px 0px 0px;
        overflow: hidden;
        list-style: none;
  
        .skill-item {
          letter-spacing: 0.75px;
          margin-bottom: 10px;
        } 
      }
  
      .skills-list li::before {
        content: "\2022";
        color: $navbar-link-hover-color;
      }
    }
  
    .profile-panel {
      width: 300px;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        right: 0;
        width: 250px;
        height: 250px;
      }
    }
  }
}