@import '../../../styles/sass/variables.scss';

#sections {
  font-size: $xxs-fs;
  background-color: $navy;
  .section {
    max-width: 900px;
    margin: 0 auto;
    padding: 90px 0px;
    display: flex;
    .title-panel {
      width: 180px;
      .title-text {
        color: $lightestSlate;
        line-height: 28.1px;
        letter-spacing: 1px;
        font-size: $s-fs;
      }
    }
    .inner {
      width: 720px;
    }
  }
}