@import '../../../styles/sass/variables.scss';

#sections {
  .section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0px;
    display: flex;
    .title-panel {
      width: 180px;
      .title-text {
        color: $lightestSlate;
        line-height: 28.1px;
        letter-spacing: 1px;
        font-size: $s-fs;
      }
    }
    .inner {
      width: 820px;
    }
  }
}