// font sizes
$xxl-fs: 48px;
$xl-fs: 32px;
$l-fs: 28px;
$m-fs: 24px;
$s-fs: 20px;
$xs-fs: 18px;
$xxs-fs: 16px;

// colors 
$darkNavy: #020c1b;
$navy: #0a192f;
$lightNavy: #172a45;
$lighestNavy: #303c55;
$slate: #8892B0;
$lighSlate: #a8b2d1;
$lightestSlate: #CCD6F6;
$white: #e6f1ff;

$red: #dc3545;
$darkRed: #AB1B2A;
$green: #64FFDA;
$darkGreen: #46B299;
$blue: #007bff;
$darkBlue: #153d68;

// text colors
$default-text-color:$slate;
$bold-text-color: $lightestSlate;
$navbar-link-hover-color: $green;
$jumbotron-summary-text-color: $darkNavy;
$section-border-color: $lighSlate;

// button colors
$resume-btn-color: $red;
$resume-btn-hover-color: $darkRed; 
$get-in-touch-btn-color: $green;
$get-in-touch-btn-hover-color: $darkGreen;
$blog-btn-color: $blue;
$blog-btn-hover-color: $darkBlue;

// social accounts icon colors
$github: #812290;
$linkedin: #2578B5;
$medium: #e6f1ff;
$twitter: #32aae2;
