@import '../../../../styles/sass/variables.scss';
@import '../../../../styles/sass/mixins.scss';

#jumbotron {
  @include locateDivAtCenter;
  width: min-content;

  #greet-text {
      width: 600px;
      color: $navbar-link-hover-color;
      padding-bottom: 1vh;
      letter-spacing: 1.5px;
      font-size: $s-fs;
  }

  #name-text {
      color: $bold-text-color;
      font-weight: 700;
      font-size: $xxl-fs;
  }

  #short-summary-text {
      font-weight: 700;
      font-size: $xxl-fs;
  }

  #summary-text {
      width: 60%;
      padding-top: 2vh;
      font-size: $xxs-fs;
  }
}