// font sizes for PC
$xxl-fs: 48px;
$xl-fs: 32px;
$l-fs: 28px;
$m-fs: 24px;
$s-fs: 20px;
$xs-fs: 18px;
$xxs-fs: 16px;

$default-text-color:#8892B0;
$bold-text-color: #CCD6F6;
$navbar-link-hover-color: #64FFDA;
$resume-btn-hover-color: #46B299; 
$section-border-color: #999999;