@import '../../styles/global-sass/variables.scss';
@import '../../styles/global-sass/mixins';

#social-accounts {
  position: fixed;
  left: 60px;
  bottom: 0;
  display: flex;
  overflow: hidden;
  list-style: none;

  .social-link-item {
    margin-bottom: 30px;
    transition: transform 250ms;
  }

  .social-link-item:hover {
    transform: translateY(-2px);
  }

  .social-link-item:hover path {
    color: $navbar-link-hover-color;
  }

  .vertical-line {
    height: 100px;
    position: absolute;
    border-left: 1px solid #8892B0;
    left: 12.5px;
  }
}

#home-section {
  @include addResponsiveBackgroundImage; 
  width: 100%;
  height: 100vh;
  background-image: url('../../styles/images/background.jpg');
    
  #nav-bar {
    position: absolute;
    top: 3.5%;
    right: 1.5%;
    display: flex;
    ol {
      display: flex;
      font-size: $xxs-fs;
      .link-item {
        padding: 0 0.75vw;
        line-height: 38px;
        letter-spacing: 1px;
        display: inline-block;
        .link, .link:hover {
          display: flex;
          font-weight: 400;
          text-decoration: none;
        }
        .link {
          position: relative;
          color: $bold-text-color;
        }
        .link:hover {
          color: $navbar-link-hover-color;
        }
      }
      .btn-list {
        .btn {
          margin-left: 0.5vw;
          margin-right: 0.5vw;
          font-size: $xxs-fs;
          letter-spacing: 1px;
        }
        
        #resume-btn {
          color: $navbar-link-hover-color;
          border-color: $navbar-link-hover-color;
        }

        #resume-btn:hover {
          background-color: $resume-btn-hover-color;
        }
      }
    }
  }

  #jumbotron {
    @include locateDivAtCenter;
    width: min-content;

    #greet-text {
      width: 600px;
      color: $navbar-link-hover-color;
      padding-bottom: 1vh;
      letter-spacing: 1.5px;
      font-size: $s-fs;
    }

    #name-text {
      color: $bold-text-color;
      font-weight: 700;
      font-size: $xxl-fs;
    }

    #short-summary-text {
      font-weight: 700;
      font-size: $xxl-fs;
    }

    #summary-text {
      width: 60%;
      padding-top: 2vh;
      font-size: $xxs-fs;
    }
  }
}