@import 'variables';

#blog-page-container {
  height: 100vh;
  background-color: rgb(21, 32, 43);
  color: #fff;

  .blog-title-container {
    .blog-title-text {
      font-size: $large-font-size;
      text-align: center;
      padding-top: 1%;

      .home-link {
        color: rgb(23, 191, 99);
      }

      .home-link:hover {
        color: rgb(23, 156, 99);
      }
    }

    .title-line {
      border-top: 2px solid;
      border-color: rgb(56, 68, 77);
      margin-top: 22.5px;
      margin-left: auto;
      margin-right: auto;
      float: none;
      width: 600px;
    }
  }

  .container {
    .card-body {
      background-color: rgb(21, 32, 43);
      color: #fff;
    }
  }
}

.sc-htpNat {
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
