@import '../../../../styles/sass/variables.scss';

#social-accounts {
  position: fixed;
  left: 60px;
  bottom: 0;
  display: flex;
  overflow: hidden;
  list-style: none;

  .social-link-item {
    margin-bottom: 30px;
    transition: transform 250ms;
  }

  .social-link-item:hover {
    transform: translateY(-2px);
  }

  .social-link-item .github:hover path {
    color: $github;
  }

  .social-link-item .linkedin:hover path {
    color: $linkedin;
  }

  .social-link-item .medium:hover path {
    color: $medium;
  }

  .social-link-item .twitter:hover path {
    color: $twitter;
  }

  .vertical-line {
    height: 100px;
    position: absolute;
    border-left: 1px solid #8892B0;
    left: 12.5px;
  }
}